.navbar{
background-color:black;
overflow: hidden;
}
.navbar a{
    float: left;
    display: flex;
    color: beige;
    text-align:center ;
    padding: 20px;;
    text-decoration: none;
    font-size: medium;

}
.navbar a.hover{
    background-color: bisque;

}